@font-face {
  font-family: "Anime Ace";
  src: url("/fonts/animeace2_reg.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Anime Ace";
  src: url("/fonts/animeace2_bld.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Anime Ace";
  src: url("/fonts/animeace2_ital.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}